<div class="row">
    <div class="col-md-12">
        <h2>Add Program</h2>
        <hr>
        <form method="post" action="/programs/add">
            <fieldset>
                <div class="row">
                    <div class="col-md-12">
                        <div class="form-group">
                            <div class="form-group">
                                <label for="programCode">Program Code</label>
                                <input class="form-control" type="text" id="programCode" name="programCode">
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-12">
                        <div class="form-group">
                            <div class="form-group">
                                <label for="programName">Program Name</label>
                                <input class="form-control" type="text" id="programName" name="programName">
                            </div>
                        </div>
                    </div>
                </div>
            </fieldset>
            <hr />
            <input type="submit" class="btn btn-primary pull-right" value="Add Program" /><br /><br /><br />
        </form>
    </div>
</div>